*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #FFFFFF;
    --text-color: #C11B17;
    --main-color: #FFE6E8;
    --other-color: #C36241;
    --second-color: #DC143C;

    --h1-font: 5.5rem;
    --h2-font: 3.5rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
    padding-top: 97px;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .6s;
}

.logo img{
    height: 60px;
    width: 90px;
}

.navlist{
    display: flex;
}
.navlist a{
    display: inline-block;
    margin: 0 15px;
    white-space: nowrap;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
}
.navlist a:hover{
    transform: translateY(-4px);
    color: var(--second-color);
}
.nav-right{
    width: 70%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav-right input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    width: 150px;
  }
.nav-right a{
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
}
.nav-right a:hover{
    transform: translateY(-5px) scale(1.1);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

section{
    padding: 90px 14% 70px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(frame-food-ingredients-baking-gently-pink-pastel-background-cooking-flat-lay-with-copy-space-top-view-baking-concept-flat-lay.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text{
    padding-top: 60px;
}
.home-text h1{
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}
.home-text h6{
    font-size: 15px;
    font-weight: 500;
    color: var(--second-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home-text p{
    width: 100%;
    max-width: 560px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--second-color);
    line-height: 33px;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 14px 42px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all .6s;
}
.btn:hover{
    transform: scale(0.9) translateY(-6px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
.btn i{
    margin-left: 9px;
}

.center-text{
    text-align: center;
    padding-top: 50px;
}
.center-text h2{
    font-size: var(--h2-font);
    font-weight: 700;
}

.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    width: 300px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 0;
}

.slides {
    width: 500%;
    height: 320px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 300px;
    height: 320px;
}

.navigation-manual {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #ffffff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #ffffff;
}

.all-btn{
    text-align: center;
    padding-top: 0;
}
.btn-all{
    display: inline-block;
    padding: 14px 42px;
    background: transparent;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--second-color);
    border-radius: 30px;
    transition: all .6s;
}
.btn-all:hover{
    background: var(--text-color);
    border: 1px solid var(--text-color);
    color: var(--bg-color);
    transform: scale(0.9) translateY(-6px);
}

.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background: var(--text-color);
    padding: 60px 70px;
    border-radius: 28px;
}
.newsletter-text h2{
    color: var(--bg-color);
    font-size: 40px;
    font-weight: 800;
}
.newsletter-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--bg-color);
}
.newsletter-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.newsletter-content form input:first-child{
    border: none;
    outline: none;
    padding: 15px;
    background: var(--bg-color);
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
.newsletter-content form input:last-child{
    border-radius: 5px;
    font-size: var(--p-font);
    cursor: pointer;
}

.gallerycnb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.gallery{
    flex-basis: 35%;
    overflow: hidden;
    margin: 5px;
}
.gallery img{
    display: grid;
    width: 265px;
    height: 285px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
    cursor: pointer;
}
.gallery:hover img{
    transform: scale(1.1);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.footer-box{
    flex-basis: 20%;
    min-width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.email p{
    text-align: center ;
}
.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a{
    color: var(--second-color);
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover{
    transform: translateX(-5px);
    color: var(--text-color);
}
.footer-box p{
    color: var(--second-color);
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}


.footer-box p:hover{
    transform: translateX(-5px);
    color: var(--text-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 17px;
    border-radius: 10px;
    margin-right: 14px;
    transform: transform 0.6s;
}
.social a:hover{
    transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
    color: var(--bg-color);
}

.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 14% 20px;
}
.end-text p{
    font-size: 15px;
}
.end-img img{
    width: 100%;
    height: 70px;
    width: 85px;
    cursor: pointer;
}

<!--END OF HOME LINK-->

.party-form {
    width: 100vw !important;
}


.events-header {
    display: flex;
    align-items: center;
}
.events-header h1{
    color: var(--text-color);
    padding-top: 60px;
}
.events-content{
    overflow: hidden;
    border-radius: 28px;
    margin-bottom: 15px;
    padding: 5px;
}
.events-content img{
    display: block;
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.events-image h3{
    font-size: 17px;
    font-weight: 700;
    padding: 14px;
}

.yearly-events {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding-top: 0;
}
.events-content {
    overflow: hidden;
}
.events-content img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0;
}

<!--END OF EVENTS LINK-->

.about-us-info {
    padding-top: 60px;
    width: 100vw;
}
.about-us-header {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 10px;
}
.about-us-content {
    text-align: center;
    justify-content: center;
}
.about-us-content img {
    width: 100%
}
.about-us-content p {
    text-align: center;
    padding: 10px 0;
}

<!--END OF ABOUT US LINK-->

.faq {
    padding-top: 60px;
}
.faq-header {
    padding-top: 60px;
    text-align: center;
}
.faq-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

<!--END OF FAQ LINK-->

.my-cart {
    padding-top: 60px;
}
.cart-info {
    padding: 5px;
}
.cart-info h2 {
    padding-top: 60px;
}
.cart-info a {
    color: var(--text-color);
}


@media(max-width: 1610px){
    section{
        padding: 70px 7% 80px;
    }
    .feature{
        padding: 10px 7% 10px;
    }
}

@media(max-width: 1500px){
    .home{
        height: 90vh;
    }
    :root{
        --h1-font: 4.8rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
    .events-content img{
        display: block;
        width: 100%;
        transition: transform 0.5s;
        cursor: pointer;
        width: 270px;
        height: 320px;
    }
}

@media(max-width: 1170px){
    section{
        padding: 60px 4% 70px;
    }
    .feature{
        padding: 10px 4% 10px;
    }
    .feature-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .newsletter-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .gallery-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .events-content img{
        display: block;
        width: 100%;
        transition: transform 0.5s;
        cursor: pointer;
        width: 230px;
        height: 280px;
    }
}

@media(max-width: 1050px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 30px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navlist.open{
        left: 0;
    }

    :root{
        --h1-font: 4.5rem;
        --h2-font: 2.6rem;
    }
    .logo{
        font-size: 25px;
    }
    .newsletter-content form input:first-child{
        padding: 8px;
    }
    .newsletter-content form input:last-child{
        font-size: 12px;
    }
    .gallery img {
        display: grid;
        width: 200px;
        height: 220px;
        transition: transform 0.5s;
        cursor: pointer;
    }
    .events-content img{
        display: block;
        width: 100%;
        transition: transform 0.5s;
        cursor: pointer;
        height: 250px;
    }
    .footer {
        gap: 50px;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    
}

@media(max-width: 530px){
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.6rem;
    }

    .btn{
        padding: 12px 20px;
    }
    .nav-right a{
        margin-right: 7px;
    }

    

    .nav-right input {
        display: none;
    }

    .newsletter-content {
        padding: 30px 30px;
    }

    .gallery img {
        display: grid;
        width: 150px; 
        height: 170px;
        transition: transform 0.5s;
        cursor: pointer;
    }
    .yearly-events {
        display: block;
        padding-top: 0;
    }
    .footer {
        justify-content: center;
    }

    .baking-party, .terms-1, .terms-2, .orders-content {
        flex-direction: column;
    }
}
